# Suppress warnings for deprecated transitive dependencies
# The @apollo/server-plugin-landing-page-graphql-playground warning is safe to ignore
# as we're using Apollo Server v5 which doesn't use this package
legacy-peer-deps=false

